<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exercise 6</title>
</head>

<body>
    <input type="text" name="text" id="textBox" placeholder="Enter first side">
    <input type="text" name="text" id="textBox1" placeholder="Enter second side">
    <input type="button" name="button" value="Area Cal" id="button">
    <br>
    <hr>
    <p id="paragraph"></p>
    <script src="../Libraries/jquery-3.5.1.js"></script>
    <script src="../Scripts/exercise6.js"></script>
</body>

</html>