<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homework 6 task 3</title>
</head>

<body>
    <h1>Homework 6 task 3</h1>
    <div id="myDiv">
        <form action="">
            <label for="">Enter first name</label><br>
            <input type="text" name="firstName" id="firstName" placeholder="Type first name here"><br>
            <label for="">Enter last name</label><br>
            <input type="text" name="lastName" id="lastName" placeholder="Type last name here"><br>
            <label for="">Enter E-mail</label><br>
            <input type="email" name="email" id="email" placeholder="example@some-mail.com"><br>
            <label for="">Enter password</label><br>
            <input type="password" name="password" id="password" placeholder="NOT 123456 !!!"><br>
            <button id="button">Print</button>
        </form>
    </div>
    <script src="../Scripts/homework_6_task_3.js"></script>
</body>

</html>