<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homework 7 of JavaScript task 3</title>
</head>

<body>
    <div id="mainDiv">
        <form action="">
            <caption>Student registry page</caption>
            <br>
            <label for="">First name</label>
            <br>
            <input type="text" name="firstname" id="firstname" placeholder="Enter first name here">
            <br>
            <label for="">Last name</label>
            <br>
            <input type="text" name="lastname" id="lastname" placeholder="Enter last name here">
            <br>
            <label for="">Last name</label>
            <br>
            <input type="text" name="age" id="age" placeholder="Enter age here">
            <br>
            <input type="button" id="button" value="Save">
        </form>
    </div>
    <script src="../Scripts/homework7_task3.js"></script>
</body>

</html>