<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exercise 2</title>
</head>
<body>
    <h1>Exercise 2 ATM</h1>
    <input type="button" value="Deposit" id="deposit">
    <input type="button" value="Withdraw" id="withdraw">
    <input type="button" value="Balance" id="balance">
    <input type="button" value="Exit" id="exit">
    <input type="button" value="Enter pin" id="use">
    <p id="paragraph"></p>
    <script src="../Libraries/jquery-3.5.1.js"></script>
    <script src="../Scripts/exercise2.js"></script>
</body>
</html>